@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

button {
    outline: none !important;
}

h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2.1em;
    color: #333;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    color: #777;
}

footer {
    background-color: #ddd;
}

input, textarea {
    border-radius: 1.5em!important;
}
 
.tubu-btn {
    background-color: #ED1C24;
    color: white;
    width: 175px;
    border-radius: 1.5em;
    transition: 0.2s;
    padding: 10px 0;
}

.tubu-btn:hover {
    color: white;
    box-shadow: 10px 10px 10px #0000002c;
}

.navbar-shadow {
    box-shadow: 0px 0px 10px #0000002c;
    transition: 0.2;
}

/*NAVBAR*/

.navbar-toggler i {
    color: #333;
    font-size: 1.2em;
}

.navbar {
    background-color: #F7F7F7;
}

.navbar .nav-link {
    font-size: 1.2em;
    color: #333 !important;
    transition: 0.16s;
}

.navbar .nav-link:hover {
    color: #FF5757 !important;
}

.navbar-brand>img {
    max-height: 36px !important;
    transition: 0.2s;
}

.navbar-brand>img:hover {
    -webkit-filter: drop-shadow(10px 10px 10px #0000002c);
    filter: drop-shadow(10px 10px 10px #0000002c);
}

.nav-link.active {
    color: #FF5757!important;
}

/*INTRO*/

#intro h2 {
    font-size: 3.8em;
    color: #333;
    font-weight: bold;
}

/*CLIENTS*/

.client {
    max-height: 42px;
}

/*ABOUT*/

#about {
    background-color: #fff;
}

/*PRODUCTS*/

.product {
    box-shadow: 5px 5px 10px #00000028;
    border-radius: 10px;
    transition: 0.1s;
}

.product:hover {
    box-shadow: 15px 15px 10px #00000028;
}

.product img{
    max-height: 120px;
}


/*SERVICES*/

#services {
    background-color: #fff;
}

/*TEAM*/

#team {
   background-color: #fff;
}

#team a{
    color: #333!important;
    font-size: 1.5em;
    transition: 0.2s;
}

#team a:hover {
    color: #FF5757!important;
}

#team h5{
    font-size: 1.9em;
    color: #FF5757!important;
}

#team span{
    color: #777!important;
    font-size: 1em;
}

#team .card{
    width: 330px;
}


/*CONTACT*/

#contact span {
    font-size: 1.2em!important;
    color: #777;
}

#contact span, a {
    color: #333;
    transition: 0.2s;
}

#contact a:hover {
    color: #FF5757;
}

#contact i {
    color: #FF5757;
    font-size: 1.5em;
}

#copyright {
    color: #333;
    font-size: 1em;
}

/*MEDIA*/

@media (max-width: 1440px) {
    #intro h2 {
        font-size: 3.3em;
    }
    h4 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

@media (max-width: 1024px) {
    #intro h2 {
        font-size: 3em;
    }
    #team .card{
        max-width: 230px;
    }
    .nav-link {
        font-size: 1.1em;
    }
    
}

@media (max-width: 994px) {
    #intro h2 {
        font-size: 2.2em;
    }
    
    h3 {
        font-size: 2.4em;
    }

    .client {
        max-height: 32px;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 425px) {
    #team .card{
        max-width: 100%;
    }
}


@media (min-width: 1500px) {
    .container {
        max-width: 1390px;
    }
}
